<br>
<br>
<br>
<footer class="page-footer foot">
          <div class="container foot">
            <div class="row foot">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">In Wanderlust We Trust.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">GitHub Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/jennielaii">Jennie's GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Dafthappy">Aaron's GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/moazam94">Moazam's GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Jennie Lai, Aaron Dizon, & Moazam Hussain All rights reserved.
            </div>
          </div>
        </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

