<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="nav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="/dashboard">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/advice">Advice</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
            <form class="d-flex">
                <a href="/users/logout" class="btn btn-secondary">Logout</a>
            </form>
        </div>
    </div>
</nav>
