<%- include("./partials/header.ejs")%>
<%- include("./partials//navbar.ejs")%>
<div class="container centered">
    <div class="tips">
        <div class="adviceBackground"></div>
        
        <h3>9 THINGS YOU SHOULD DO BEFORE TRAVELING</h3>
        <h5>
            #1 Plan, organize and add your trip details here so you won't forget a thing
        </h5>
        </br>
        <h5>
            #2 Check you travel requirements beforehand
        </h5>
        <h6>
            Some countries specific travel requirements are taking some time to fulfil, such as visa and vaccination.
        </h6>
        </br>
        <h5>
            #3 Manage your credit/debit card settings
        </h5>
        <h6>
            Enable your cards for preventively blocked countries and/or adjust spending limit for your travel time.
            Insider tip: always pay in local currency
        </h6>
        </br>
        <h5>
            #4 Have a digital copy of important documents
        </h5>
        <h6>
            Securely store your passport, driving license, insurance policies and card information, so that you have it handy in case of emergency
        </h6>
        </br>
        <h5>
            #5 Have a customized packing list
        </h5>
        <h6>
            Get your customized packing list, so you can safe time while packing and never forget anything
        </h6>
        </br>
        <h5>
            #6 Enable international roaming
        </h5>
        <h6>
            Roaming without a saver plan from your home carrier can be expensive, so better subscribe in advance. Or get a local sim card at your destination
        </h6>
        </br>
        <h5>
            #7 Get travel and/or health insurance
        </h5>
        <h6>
            Get coverage for trip cancellation or changes due to overseen circumstances. Get insured for costs related to accident and health
        </h6>
        </br>
        <h5>
            #8 Get some small exchange money
        </h5>
        <h6>
            Do you have some small bills in local currency and/or USD/EUR to help you to cover minor expenses at arrival and tip for services?
        </h6>
        </br>
        <h5>
            #9 Stay protected
        </h5>
        <h6>
            Make sure you have sufficient face masks and hand sanitizer. Please check with your airline or transport company directly for special COVID-19 related requirements.
        </h6>
        </br>
    </div>
</div>
<%- include("./partials/footer.ejs")%>